.overview-container {
    background: rgb(40, 38, 68);
    background: -moz-linear-gradient(
        153deg,
        rgba(40, 38, 68, 1) 0%,
        rgba(187, 187, 187, 0.5494572829131652) 0%,
        rgba(183, 255, 238, 0.5466561624649859) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background: -webkit-linear-gradient(
        153deg,
        rgba(40, 38, 68, 1) 0%,
        rgba(187, 187, 187, 0.5494572829131652) 0%,
        rgba(183, 255, 238, 0.5466561624649859) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background: linear-gradient(
        153deg,
        rgba(40, 38, 68, 1) 0%,
        rgba(187, 187, 187, 0.5494572829131652) 0%,
        rgba(183, 255, 238, 0.5466561624649859) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#282644",endColorstr="#ffffff",GradientType=1);
}

.title-caption {
    color: orange;
    text-align: left;
}

.section-title {
    color: darkslategrey;
    font-size: 3em;
    font-weight: bold;
    text-align: left;
}
