.footer-container {
    background-image: radial-gradient(
            circle farthest-corner at 10% 20%,
            rgba(43, 58, 103, 0.9) 0%,
            rgba(43, 58, 103, 0.7) 90%
        ),
        url("https://i.ibb.co/vcbW9z8/banner-layer.png");
    color: white;
    padding: 100px 0 60px;
    background-size: cover;
}

.footer-title {
    border-bottom: 3px solid white;
    padding-bottom: 10px;
    width: 60%;
}

.footer-icon-text {
    display: flex;
}
