.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-member {
    transition: all 0.5s;
}

.single-member:hover {
    background-color: rgb(228, 226, 226);
    transition: all 0.5s;
    border-radius: 10px;
}

.single-member div img {
    transition: all 0.5s;
}

.single-member:hover div img {
    transform: scale(1.05);
    transition: all 0.2s;
    border-radius: 10px;
}

.social-icon {
    opacity: 50%;
    transition: all 0.5s;
}

.social-icon:hover {
    opacity: 70%;
    transition: all 0.5s;
}
