.banner-container {
    background-image: url("https://i.ibb.co/T85QmKN/banner-png.png"),
        url("https://i.ibb.co/vcbW9z8/banner-layer.png");

    height: 80vh;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.banner-text {
    margin-left: 15vw;
    color: darkslategrey;
}

.main-heading-text {
    font-size: 5em;
}

.btn-grad {
    background-image: linear-gradient(
        to right,
        #f7971e 0%,
        #ffd200 51%,
        #f7971e 100%
    );
}
.btn-grad {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 5px;
    border: none;
    display: block;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

/* xs */
@media only screen and (max-width: 575px) {
    .banner-text {
        margin: auto;
    }
    .main-heading-text {
        font-size: 2em;
    }
}

/* sm  */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .main-heading-text {
        font-size: 2.5em;
    }
}

/* md */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-heading-text {
        font-size: 3em;
    }
}

/* lg  */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .main-heading-text {
        font-size: 3.5em;
    }
}
@media only screen and (min-width: 1201px) and (max-width: 1399px) {
    .main-heading-text {
        font-size: 4em;
    }
}
