.navbar {
    background-image: radial-gradient(
        circle farthest-corner at 10% 20%,
        rgb(239, 246, 253) 0%,
        rgb(252, 248, 241) 90%
    );

    /* background-image: radial-gradient(
        circle 343px at 46.3% 47.5%,
        rgba(242, 242, 242, 1) 0%,
        rgba(241, 241, 241, 1) 72.9%
    ); */
}

.link {
    color: gray;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
